<!DOCTYPE html>
<html>
<head>
	<meta name='viewport' content='width=device-width'>
	<link rel='stylesheet' href='style.css'>
</head>
<body>
	<div id='controls'>
		<p>Click on one of the patterns</p>
		<fieldset>
			<legend>Operation:</legend>
			<p><label><input type='radio' value='variations' v-model='operation'> Variations</label></p>
			<p><label><input type='radio' value='pan' v-model='operation'> Pan</label></p>
			<p><label><input type='radio' value='save' v-model='operation'> Save</label></p>
			<p><label><input type='radio' value='open' v-model='operation'> Open</label></p>
		</fieldset>
		<fieldset>
			<legend>Appearance:</legend>
			<p><label>Continuous <input type='checkbox' v-model='continuous'></label></p>
			<p><label>Center X: <input type='number' step='any' v-model.number='center.x'></label></p>
			<p><label>Center Y: <input type='number' step='any' v-model.number='center.y'></label></p>
			<p><label>Zoom: <input type='range' min='-2' max='2' step='any' v-model.number='zoom'></label></p>
		</fieldset>
		<fieldset>
			<legend>Performance:</legend>
			<p><label>Decrease framerate: <input type='range' min='1' max='4' v-model.number='frameRateReduction'></label></p>
			<p><label>Decrease resolution: <input type='range' min='1' max='4' v-model.number='resolutionReduction'></label></p>
		</fieldset>
	</div>
	<canvas id='canvas'></canvas>
	<script src='vue.js'></script>
	<script src='utils.js'></script>
	<script src='nodes.js'></script>
	<script src='generate.js'></script>
	<script src='fiddle.js'></script>
	<script src='compile.js'></script>
	<script src='gl.js'></script>
	<script src='display.js'></script>
	<script src='fileio.js'></script>
	<script src='main.js'></script>
</body>
</html>
