body {
	margin: 0;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	background: #eee;
	color: #222;
	font-family: sans-serif;
}

#controls {
	flex-grow: 1;
	flex-shrink: 0;
}

#grid {
	flex-grow: 0;
	flex-shrink: 0;
	width: 100vmin;
	height: 100vmin;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

canvas {
	width: 100%;
	height: 100%;
}

input[type='range'] {
	vertical-align: middle;
}
