body {
	margin: 0;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	background: #eee;
	color: #222;
	font-family: sans-serif;
}

#controls {
	flex-grow: 1;
	flex-shrink: 0;
	min-width: 20em;
}

#canvas {
	flex-grow: 0;
	flex-shrink: 0;
	width: 100vmin;
	height: 100vmin;
}

section {
	margin: 1em;
}

label {
	display: block;
	margin: 1em;
}

input[type="range"] {
	vertical-align: middle;
}
