body {
	margin: 0;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	background: #eee;
	color: #222;
	font-family: sans-serif;
}

#controls {
	flex-grow: 1;
	flex-shrink: 0;
	min-width: 20em;
}

#canvas {
	flex-grow: 0;
	flex-shrink: 0;
	width: 100vmin;
	height: 100vmin;
}

section {
	margin: 1em;
}

label {
	display: inline-block;
	width: 10em;
	text-align: right;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+label {
	width: auto;
	border-width: 1px;
	border-color: #333;
	border-style: solid;
	border-left-style: none;
	padding: .5em;
}

input[type="radio"]+label:first-of-type {
	border-left-style: solid;
	border-top-left-radius: .25em;
	border-bottom-left-radius: .25em;
}

input[type="radio"]+label:last-of-type {
	border-top-right-radius: .25em;
	border-bottom-right-radius: .25em;
}

input[type="radio"]:checked+label {
	background: #333;
	color: #eee;
}

input[type="range"] {
	vertical-align: middle;
}
